<aside class="aside">
    <div class="aside__container">
        <div class="aside__container">
            <a href="#" class="aside__container-logo">Logo</a>
            <div class="aside__container-data">Data</div>
        </div>
    </div>
    <!--section id="nav-left"-->
    <nav class="aside__nav">
        <div class="aside__nav-container left"></div>
        <ul class="left__list"> <!--class="section-nav-left"-->>
            <li class="left__list-a"><a href="#">News-nav</a></li>
            <li class="left__list-b"><a href="#">News-nav</a></li>
            <li class="left__list-c"><a href="#">News-nav</a></li>
            <li class="left__list-d"><a href="#">News-nav</a></li>
            <li class="left__list-e"><a href="#">News-nav</a></li>
            <li class="left__list-f"><a href="#">News-nav</a></li>
            <li class="left__list-g"><a href="#">News-nav</a></li>
            <li class="left__list-h"><a href="#">News-nav</a></li>
            <li class="left__list-i"><a href="#">News-nav</a></li>
            <li class="left__list-g"><a href="#">News-nav</a></li>
        </ul>
    </nav>
</aside>