<header class="header"> <!-- Блок "header" -->
    <div class="header__container"> <!-- Блок "header__container" -->
        <div class="header__info"> <!-- Блок "header__info" -->
            <a href="tel:+380443501350" class="header__info-phone">+380443501350</a>
            <a href="#" class="header__info-link">Про нас</a>
            <span class="header__info-welcome">Ласкаво просимо до English-SPACE!</span>
        </div>
        <div class="icon"> <!-- Блок "icon" -->
            <img src="img/header/twitter-icon.svg" alt="Twitter" class="icon__twitter">
            <img src="img/header/facebook-icon.svg" alt="Facebook" class="icon__facebook">
            <img src="img/header/linkenIn-icon.svg" alt="LinkedIn" class="icon__linkedin">
        </div>
    </div>
    <nav class="header__nav"> <!-- Блок "header__nav" -->
        <div class="header__nav navbar"> <!-- Блок "navbar" в блоку "header__nav" -->
            <a href="index.html" class="navbar__logo"> <!-- Елемент "navbar__logo" в блоку "navbar" -->
                <img src="#" alt="Лого"><!-- Встановити шлях до лого -->
            </a>
            <div class="navbar__search"> <!-- Блок "navbar__search" в блоку "navbar" -->
                <form action="" method="post">
                    <div class="search-exposition"> <!-- Блок "search-exposition" -->
                        <span class="search-exposition__text">Пошук за категорією</span>
                    </div>
                    <div class="search-input"> <!-- Блок "search-input" -->
                        <input type="text" class="search-input--form" placeholder="Виберіть категорію" name="search">
                        <button type="submit" name="button" class="search-input__button">
                            <i class="search-click"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="header__nav-container menu"> <!-- Блок "header__nav-container" в блоку "navbar" -->
                <ul class="menu__list"> <!-- Блок "menu__list" в блоку "header__nav-container" -->
                    <!-- посилання у тегах <a> -->
                    <li class="menu__list-item"><a href="#" class="menu__list-link">Екзамени</a></li>
                    <li class="menu__list-item"><a href="#" class="menu__list-link">Відгуки</a></li>
                    <li class="menu__list-item"><a href="#" class="menu__list-link">Про англійську мову</a></li>
                    <li class="menu__list-item"><a href="#" class="menu__list-link">Розваги</a></li>
                    <li class="menu__list-item"><a href="#" class="menu__list-link">Розмова</a></li>
                    <li class="menu__list-item"><a href="#" class="menu__list-link">Розваги</a></li>
                    <li class="menu__list-item"><a href="#" class="menu__list-link">Відео</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>