<header class="header">
    <div class="header__container">
        <div class="header__info">
            <a href="tel:+380443501350">+380443501350</a>
            <a href="#">About Us</a>
            <span>Welcome to English-SPACE!</span>
        </div>
        <div class="icon">
            <img src="img/header/twitter-icon.png" alt="Twitter">
            <img src="img/header/facebook-icon.png" alt="Facebook">
            <img src="img/header/linkenIn-icon.png" alt="LinkedIn">
        </div>
    </div>
    <nav class="header__nav">
        <div class="header__nav navbar">
            <a class="navbar__logo" href="index.html">
            <img src="#" alt="Logo"><!-- Встановити шлях -->
            </a>
            <div class="navbar__search">
                <form action="" method="post">
                    <div class="search-exposition">
                        <span>Category search</span>
                    </div>
                    <div class="search-input">
                        <input type="text" class="search-input--form" placeholder="Виберіть категорію" name="search">
                        <button type="submit" name="button">
                            <i class="search-click"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="header__nav-container menu">
                <ul class="menu__list">
                    <!-- посилання у тегах <a> -->
                    <li class="menu__list-item"><a href="#">Exams</a></li>
                    <li class="menu__list-item"><a href="#">Reviews</a></li>
                    <li class="menu__list-item"><a href="#">About English Language</a></li>
                    <li class="menu__list-item"><a href="#">Fun</a></li>
                    <li class="menu__list-item"><a href="#">Speaking</a></li>
                    <li class="menu__list-item"><a href="#">Fun</a></li>
                    <li class="menu__list-item"><a href="#">Video</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>