<main class="main"> <!-- Блок "main" -->
  <section class="main__section">
    <h3 class="main__section-title">Додавання / Редагування неправильних дієслів</h3> <!-- Елемент "section-title" в блоку "main__section" -->
    <form class="main__section-form" id="search-verb" action="">
      <label class="main__section-label" for="search-verb">
        <input class="main__section-input" type="search" placeholder="Пошук неправильного дієслова..." required>
      </label>
      <button class="main__section-button" type="submit">Пошук</button>
    </form>
  </section>
  <section class="main__section">
    <div class="forms"> <!-- Блок "forms" -->
      <div class="forms__input-form input-form"> <!-- Блок "input-form" в блоку "forms" -->
        <form class="input-form__form" action="">
          <label class="input-form__label">
            <input class="input-form__input-verb input-verb" type="text" placeholder="1-а форма дієслова" required minlength="3" maxlength="15" size="17">
          </label>
        </form>
        <!-- Аналогічні блоки "input-form" для інших форм дієслів -->
      </div>
    </div>
  </section>
  <section class="main__section">
    <div class="selection-form"> <!-- Блок "selection-form" -->
      <form class="selection-form__form" action="http://192.168.31.240:8080/adm_verbs/wordPhonetic/111">
        <label class="selection-form__label" for="select-group"></label>
        <select class="selection-form__select" name="verb-name" id="select-group">
          <option value="choose">-- Будь ласка, виберіть групу дієслів --</option>
          <!-- Опції для вибору групи дієслів -->
        </select>
      </form>
    </div>
    <div class="selection-number"> <!-- Блок "selection-number" -->
      <form class="selection-number__form" action="">
        <label class="selection-number__label" for="select-number"></label>
        <select class="selection-number__select" name="number" id="select-number">
          <option value="choose">-- Кількість --</option>
          <!-- Опції для вибору кількості -->
        </select>
      </form>
    </div>
  </section>
</main>