<div class="forms">
    <div class="forms__input-form input-form">
      <form action="">
        <label>
          <input type="text" class="input-form__input-verb input-verb" placeholder="1-st form of the verb" required
            minlength="3" maxlength="15" size="17">
        </label>
      </form>
      <form action="">
        <label>
          <input type="text" class="input-form__input-verb input-verb" placeholder="2-nd form of the verb" required
            minlength="3" maxlength="15" size="17">
        </label>
      </form>
      <form action="">
        <label>
          <input type="text" class="input-form__input-verb input-verb" placeholder="3-rd form of the verb" required
            minlength="3" maxlength="15" size="17">
        </label>
      </form>
      <form action="">
        <label>
          <input type="text" class="input-form__input-verb input-verb" placeholder="V+ing form of the verb" required
            minlength="5" maxlength="20" size="22">
        </label>
      </form>
      <form action="">
        <label>
          <input type="text" class="input-form__input-verb input-verb" placeholder="With the 3-rd person singular" required
            minlength="5" maxlength="20" size="22">
        </label>
      </form>
      <form action="">
        <label>
          <input type="text" class="input-form__input-verb input-verb" placeholder="Translation" required
            minlength="5" maxlength="20" size="22">
        </label>
      </form>
    </div>
  </div>